* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

header {
    background: url(./img/bg2.jpg) no-repeat center center / cover;
    height: 155vh;
}

nav {
    display: flex;
    padding-top: 20px;
    justify-content: space-around;
}

.welcome h1 {
    font-size: 15px;
    padding-top: 25px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(108, 136, 146);
}

header h2 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-transform: uppercase;
    
}

header ul {
    display: flex;
}

header ul li {
    font-size: 40px;
}

header ul li a {
    color: #111;
    margin: 10px;
    transition: 100s;

}

header ul li a:hover {
    color: white;

}

.welcome {
    margin: auto;

}

.welcome h3 {
    font-size: 40px;
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(109, 29, 29);
    font-family: 'Kaushan Script', cursive;
}

.welcome p {
    color: rgb(15, 13, 117);
    text-align: center;
    width: 700px;
    padding-top: 20px;
    font-size: 25px;
    margin: auto;
}

.welcome .btn {
    text-align: center;
    margin: auto;
}

.welcome button {
    margin-top: 30px;
    background: none;
    border: 2px solid gray;
    font-size: 20px;
    padding: 10px 100px;
    color: white;
    transition: 500ms;
    border-radius: 40px;
}

.welcome button:hover {
    background: rgba(24, 22, 22, 0.9)
}